/* CSS General/Principal */
body.fondo{
    background-color: rgb(250, 217, 175);
}

div.titulo{
    text-align: center;
    color: rgb(117, 3, 3);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div.lineanegr{
    background-color: black;
    height: 2px;
}

div.lacarta a{
    position: relative;
    top: 20px;
    color: rgb(117, 3, 3);
    text-decoration: none;
}

div.elcafe a{
    position: relative;
    top: 20px;
    color: rgb(117, 3, 3);
    text-decoration: none;
    right: -350px;
}

div.elcontacto a{
    position: relative;
    top: 20px;
    color: rgb(117, 3, 3);
    text-decoration: none;
    left: 700px;
}

div.centrmarg{
    margin: 0 auto;
    max-width: 950px;
    width: 100%;
}

/* CSS General Páginas Secundarias */


    /* CSS Lacarta */




    /* CSS ElCafe */




    /* CSS Conacto */